<?php
$offer_manage = array(
    '1' => 'New User',
    '2' => 'Reffered by User');
    ?>
<div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Manage Users</h5>
                    <ol class="breadcrumbs">
                        <li><a href="<?= BASE_URL . "admin/dashboard" ?>">Dashboard</a></li>
                        <li class="active">Manage Employee</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <span class="green-text">Edit Offer</span>
                            </span>
                            <div class="row">
                                <form class="col s12 m8 offset-m2 right-alert" action="<?= ADMIN_URL . "offers/" ?>" method="post">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select class="validate" name="offer_type">
                                                <option value="">Choose User type</option>
                                                <option value="1" <?php if($offer->offer_type==1){ echo "selected";}?> name="offer_type">New User</option>
                                                <option value="2" <?php if($offer->offer_type==2){ echo "selected";}?> name="offer_type">Reffered User</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" value="<?= $offer->id?>" name="id"/>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="mdi-communication-email prefix"></i>
                                            <input id="" class="validate" type="number" value="<?= $offer->price?>" name="price"/>
                                            <label for="" class="" data-error="Please enter pin." data-success="I Like it!">Price</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn green waves-effect waves-light right" type="submit">Save
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>