/* --------------------------------------
=========================================
RESPONSIVE FIXES
=========================================
-----------------------------------------*/

/* BACKGROUND IMAGES FOR MOBILE*/

@media (max-width: 640px) {
    
    header {
    background: url('../images/bg-1.jpg') no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    }
    
    .testimonials {
    background: url('../images/bg-2.jpg') no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    }
    
    .download {
    background: url('../images/bg-3.jpg') no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    
    }
    
} 
 

/* OTHER FIXES */ 
@media (max-width: 1024px) {

    .animated {
        -webkit-transform: translateZ(0);
    }
}

@media (max-width: 991px) {
 
    
    body {
        font-size: 15px;
        line-height: 26px;
    }

    header .color-overlay {
        min-height: 800px;
    }

    .app-brief .left-align {
        text-align: center;
    }

    .colored-line-left {
        float: none;
        margin: auto;
    }
    .packages .pricing-content-con {
        position: relative;
        top: 20px;
        left: 0;
        height: auto;
        width: 100%;
    }
    .packages .main-menu-con {
        position: relative;
        left: 0;
        padding: 0;
        height: auto;
        overflow: visible;
        width: 100%;
    }
    .accordion-con{
        margin-bottom: 40px;
   }
   .pricing-contents .accordion-con .panel-body {
        padding: 15px 0;
    }
    .pricing-contents .accordion-con .panel-body .col-xs-12{
        padding: 0;
    }
    .pricing-contents .accordion-con .panel-body .tab-content {
        padding: 10px 10px;
    }
    .pricing-contents .accordion-con{
        margin-bottom: 70px;
    }
    .packages .main-menu ul li a .animate-menu-icon {
        transform: rotate(90deg);
    }
    .contact-info {
        text-align: center;
    }
    footer .copyright span{
        float: none !important;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
 
    
    html {
        font-size: 90%;
    }

    header .color-overlay {
        min-height: 780px;
    }

    .sticky-navigation .navbar-header {
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 10px;
    }
    .sticky-navigation .navbar-header a {
        float: none !important;
    }
    
    .sticky-navigation .navbar-header img {
        max-height: 40px;
    }
    
    .sticky-navigation .main-navigation {
        text-align: center;
        width: 100%;
        padding-top: 0;
    }

    header .intro-section {
        padding-top: 10%;
    }

    .features .features-left,
    .features .features-right {
        margin-top: 0;
    }

    .features .features-left .icon-container,
    .features .features-right .icon-container {
        display: none;
    }
    .app-brief {
        padding-top: 150px;
    }
    .navbar-inverse .container{
        width: auto;
    }
}

@media (max-width: 767px) {
 
    
    html {
        font-size: 80%;
    }

    body {
        font-size: 15px;
        line-height: 26px;
    }

    header .color-overlay {
        min-height: 580px;
    }

    header .only-logo .navbar {
        padding: 20px;
    }

    header .only-logo .navbar img {
        width:100%;
    }
    
    .navbar-inverse .navbar-nav {
        padding-left: 10px;
        line-height: normal;
        text-align: center;
    }

    .navbar-inverse .navbar-nav>li {
        display: inline-block;
        margin-bottom: 0;
    }

    header .intro-section {
        padding-top: 1%;
    }

    .features .features-left,
    .features .features-right {
        text-align: center;
        margin-top: 5px;
    }

    .features .feature {
        margin-bottom: 70px;
    }

    .features .features-left .icon-container,
    .features .features-right .icon-container {
        float: none;
        margin-left: inherit;
        min-height: 70px;
    }

    .features .feature .icon-container .icon {
        margin: auto;
    }

    .download .subscription-form .input-box {
        margin: auto;
        width: 80%;
        margin-bottom: 10px;
    }
    .pricing-contents .accordion-con .panel-body .table-responsive {
        border: 0;
    }
    .pricing-contents .accordion-con .no-cloth {
        font-size: 15.5px;
        margin: 12% 0;
        padding-right: 0;
    }
    .user-dp{
        margin: 0 auto;
    }
    .offers{
        text-align: center;
    }
    .offers .app-brief{
        padding-top: 30px;
    }
    .offers .app-brief p{
        padding: 0 15px;
    }
    .offers .app-brief .carousel{
        padding: 0 15px;
    }
    .discount-big-box h6 {
        bottom: 2px;
    }
    .discount-big-box h2 {
        font-size: 1.8em;
    }
    .offers .app-brief .carousel p{
        padding: 0 0 10px 0;
    }
    .discount-big-box p {
        font-size: .7em;
    }
    .discount-big-box h5>b {
        font-size: .7em;
    }
    .discount-big-box h5 {
        font-size: .7em;
    }
}

@media (max-width: 480px) {
 
    
    html {
        font-size: 65%;
    }

    header .color-overlay {
        min-height: 480px;
    }

    header .only-logo .navbar {
        padding: 10px;
    }

    header .intro-section {
        padding-top: 2%;
    }

    header .intro-section .intro {
        margin-bottom: 16px;
    }

    header .intro-section h5 {
        color: #ffffff;
    }

    header .intro-section .buttons {
        margin-top: 15px;
    }

    .download .subscription-form .input-box {
        width: 95%;
        height: 50px;
    }

    .standard-button,
    .standard-button2 {
        font-size: 15px;
        min-width: 100px;
        padding: 11px 20px 11px 20px;
    }

    .features .feature:hover .icon-container .icon, 
    footer .contact-button:hover {
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
}

@media (max-width: 320px) {
 
    
    html {
        font-size: 60.5%;
    }
}


@media (min-width: 320px) and (max-width: 640px) and  (orientation: landscape) {
        
    .full-screen h1 {
        font-size: 30px !important;
        line-height: 40px;
        margin-top: 0;
        font-weight: bold;
    }
    .full-screen .intro-section .intro {
       margin-bottom: 0;
            
    }
    
    .full-screen .intro-section h5 {
        
        font-size: 14px;
    }
    .full-screen .intro-section .buttons { 
        margin-top: 0;
    }
    
    .full-screen .standard-button {
        font-size: 14px;
        padding: 8px 5px;
    }
}
