

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}


/*---------------------------------------
   Typography                
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON              
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}


/*---------------------------------------
   TEXTS               
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #272727;
}
.theme-text{
    color: #008ed6;
}
.grey-bg {
    background: #F7F8FA !important;
}


/*---------------------------------------
   SECTIONS          
-----------------------------------------*/

.section-header {
    padding-bottom: 78px;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
   LINES          
-----------------------------------------*/

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.colored-line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES                
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME                 
-----------------------------------------*/

header .color-overlay {
    min-height: 900px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

/* TOP BAR WITH NAVIGATION */

.sticky-navigation {
  min-height: 60px;
  background: #FFFFFF;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.no-sticky-navigation {
  min-height: 60px;
  background: #FFFFFF;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}
.sticky-navigation .navbar-header img {
  /*max-height: 30px;*/
  -webkit-backface-visibility: hidden;
}
.no-sticky-navigation .navbar-header img {
  /*max-height: 30px;*/
  -webkit-backface-visibility: hidden;
}
.sticky-navigation .main-navigation .current a {
  color: #000000 !important;
  position: relative;
  outline: none;
}
.no-sticky-navigation .main-navigation .current a {
  color: #000000 !important;
  position: relative;
  outline: none;
}
.sticky-navigation .main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.no-sticky-navigation .main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.main-navigation li a{
    padding: 15px 10px;
}
.sticky-navigation .main-navigation li a:hover {
    color: #000000;
}

.no-sticky-navigation .main-navigation li a:hover {
    color: #000000;
}

.navbar-inverse .navbar-toggle {
border-color: #313131;
background: #313131;
}

header .only-logo .navbar {
    background: none;
    padding: 60px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

/* INTRO */

header .intro-section {
    margin: auto;
    padding-top: 15%;
}

header .intro-section .intro {
    color: #ffffff;
    margin-bottom: 36px;
}

header .intro-section h5 {
    color: #ffffff;
}

header .intro-section .buttons {
    margin-top: 35px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border:0;
}

/*---------------------------------------
   SECTION:  FEATURES                 
-----------------------------------------*/

.features {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #ffffff;
}

.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}

.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    margin-bottom: 40px;
}

.features .feature .icon-container {
    display: block;
    min-height: 120px;
    margin-top: 5px;
}

.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
            transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
            background-clip: padding-box;
}

.features .phone-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
}

.features .phone-image img {
    width: 100%;
}


/*---------------------------------------
   SECTION:  BRIEF                 
-----------------------------------------*/

.app-brief {
    background: #FFFFFF;
    padding-top: 110px;
    padding-bottom: 60px;
}

.app-brief h2 {
    margin-bottom: 20px;
}

.app-brief .phone-image {
    max-width: 350px;
    margin: auto;
    margin-bottom: 50px;
}

.app-brief .phone-image img {
    width: 100%;
}

.app-brief .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app-brief .left-align p {
    display: block;
    float: none;
    margin-top: 50px;
}

.app-brief .left-align .feature-list {
    margin-top: 40px;
}

.app-brief .left-align .feature-list li {
    margin-bottom: 26px;
}

.app-brief .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
}


/* VIDEO */

video {
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px; 
}

.video {
    background: transparent !important;
}

.view-video{
    display: block;
    margin-top: 55px;
}
.view-video:hover{
    opacity: .8;
}
/*---------------------------------------
   SECTION:  TESTIMONIALS                 
-----------------------------------------*/
.testimonials {
    color: #ffffff;
}

.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.testimonials .feedback {
    max-width: 750px;
    margin: auto;
}

.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}

.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
}

.testimonials .feedback .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}

.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*---------------------------------------
   SECTION:  SERVICES           
-----------------------------------------*/

.services {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.services .single-service {
    padding-bottom: 60px;
}

.services .single-service .service-icon {
    font-size: 80px;
}

.services .single-service h3 {
    margin-top: 20px;
}



/*---------------------------------------
   SECTION:  SCREENSHOTS 
-----------------------------------------*/

.screenshots {
    padding-top: 80px;
    padding-bottom: 120px;
    background: #fff;
}

.screenshots .shot {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
}

.screenshots .shot img {
    border-radius: 4px;
    width: 100%;
}

/*---------------------------------------
   SECTION:  PACKAGES | Added on version 1.7      
-----------------------------------------*/

.packages {
    min-height: 100%;
    padding-top: 60px;
    background: #ffffff;
}

.single-package {
    background: #F7F8FA;
    overflow: auto;
    border: 0px solid #161616;
    border-radius: 3px;
    margin-bottom: 60px;
}

.single-package .price {
    background: #FFFFFF;

}
.single-package .color-bg {
    background-color: !important;
}
.single-package .price h2 {
    color: #272727;
}

.single-package .price .color-bg h2 {
    color: #FFFFFF !important;
} 

.single-package .price .sign {
    vertical-align: super;
    font-size: 20px;
}

.single-package .price .month {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.single-package .package-feature {
  margin-top: 25px;
  margin-bottom: 25px;
}

.single-package .package-feature > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-package .package-feature > li > span {
  margin-right: 7px;
}


/*---------------------------------------
   SECTION:  DOWNLOAD                 
-----------------------------------------*/

.download {
    color: #ffffff;
}

.download .color-overlay {
    padding-top: 110px;
    padding-bottom: 70px;
}

.download .download-container {
    padding-bottom: 80px;
}

.download .subscription-form-container {
    padding-bottom: 80px;
}

.download .subscription-form .input-box {
    height: 57px;
    padding-left: 20px;
    width: 320px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #FFF;
    border: 2px solid #FFF;
}

.download .subscription-form .input-box:focus, 
.download .subscription-form .input-box:active {
    color: #000;
    font-weight: 400;
}

.download .subscription-form .subscription-success,
.download .subscription-form .subscription-error {
    display: none;
}

.download h2 {
    margin-bottom: 30px;
}

/*---------------------------------------
   SECTION:  FOOTER                
-----------------------------------------*/
footer {
    background: #FFFFFF;
}

footer .contact-box {
    margin-bottom: 78px;
}

footer .contact-box .contact-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    vertical-align: middle;
    margin-top: -40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 0px 3px #ffffff;
            box-shadow: 0px 0px 0px 3px #ffffff;
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box:active {
    color: #000;
}

footer .social-icons {
    margin-top: 30px;
    /*border-bottom: 1px solid #e5e5e5;*/
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #c2c2c2;
}

footer .copyright {
    color: #808080;
    padding-top: 10px;
    margin-bottom: 50px;
}
.media.service-box {
    margin: 25px 0;
    text-align:left;
}
.media.service-box .media-heading{
    font-weight:500;
}
.media.service-box .media-body{
    font-size: 14px;
    }
.media.service-box .pull-left {
    margin-right: 25px;
}
.media.service-box .pull-left > i {
    display: block;
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    border-radius: 100%;
    color: #008ED5;
    background: #EAEAEA;
    box-shadow: inset 0 0 0 2px #A7A7A7;
    -webkit-box-shadow: inset 0 0 0 2px #A7A7A7;
    transition: background-color 400ms, background-color 400ms;
    position: relative;
}

.media.service-box .pull-left > i:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: -10px;
    border: 4px solid #A7A7A7;
    border-radius: 20px;
    background: #1496D7;
}
.media.service-box:hover .pull-left > i {
        background: #1496D7;
    color: #fff;
    box-shadow: inset 0 0 0 5px #0A80BB;
    -webkit-box-shadow: inset 0 0 0 5px #0A80BB;
}
.media.service-box:hover .pull-left > i:after {
    background: #fff;
    border: 4px solid #0A80BB;
}
.media.service-box a{
    cursor:pointer;
}
.modal-header {
    background: #F9F9F9;
    text-align: left;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:0;
}
.modal-title {
    font-weight: 500;
}
.modal-header .close {
    color: #F44336;
    text-shadow: none;
}
.modal-content {
    background-color: #fff;
}
.modal-footer{
    border:0;
}
.modal-body {
    text-align: left;
    color: #808080;
}
.media-heading {
    font-weight: 500;
    color: #008ed6;
}
.packages-content .nav-tabs{
    margin-bottom: 15px;
}
.packages-content .nav-tabs>a{
    background: #E0E0E0;
    color: #008DD5;
    font-weight: 400;
    padding: 3px 25px;
    min-width: 68px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 4px;
}
.packages-content .accordion-con{
    /*background: rgba(0, 0, 0, 0.04);
    padding: 10px;*/
}
.packages-content .panel-heading{
    padding:0;
    text-align:left;
}
.packages-content .panel-default {
    border: 0;
}
.packages-content .panel-default>.panel-heading {
    background-color: #E0E0E0;
}
.packages-content .panel-default>.panel-heading:hover {
    background-color: #D2D2D2;
}
.packages-content .panel {
    margin-bottom: 15px;
    background-color: #fff;
}
.packages-content .panel-heading a{
    display: block;
    padding: 5px 15px;
    color: #343434;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration:none !important;
}
.packages-content .panel-body table th{
    border-bottom: 1px solid #888;
    text-align: center;
    color: #272727;
    font-weight: 400;
}
.packages-content .panel-body table td{
    border-bottom: 1px solid #B9B9B9;
    text-align: center;
    font-size: 13px;
}
.sub-tab-con .nav-tabs>li.active>a,.sub-tab-con .nav-tabs>li.active>a:hover, .sub-tab-con .nav-tabs>li.active>a:focus {
    color: #008DD5;
    background-color: #F3F3F3;
    border: 1px solid #0095AD;
    border-bottom-color: #FFFFFF;
}
.sub-tab-con .nav-tabs {
    border-bottom: 1px solid #0095AD;
}
.sub-tab-con .nav>li>a{
    color: #A7A7A7;
}
.sub-tab-con .nav>li>a:hover, .sub-tab-con .nav>li>a:focus {
    text-decoration: none;
    background-color: #E8E8E8;
    color: #1795D6;
    border: 1px solid transparent;
}
.packages-content .nav-tabs>a:hover{
    background: #908F8F;
    color: #fff;
}
.packages-content .nav-tabs>a:focus, .packages-content .nav-tabs>a.actives{
    background: #908F8F;
    color: #fff;
    border-left: 4px solid #00ACFF;
    text-decoration: none;
}
.packages-content .tab-more{
    padding-top: 15px;
    text-align: center;
    min-height: 135px;
}
.packages-content .tab-more h2{
    font-size: 18px;
    line-height: normal;
    margin: 0 0 30px 0;
    font-weight: 500;
}
.packages-content .tab-more h3{
    font-size: 21px;
    margin-bottom: 6px;
}
.packages-content .panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #A9A9A9;
}
.privacy-policy{
    margin-top:20px !important;
    font-style: italic;
}
.privacy-policy a{
    color: #00C4E1;
    font-weight: 500;
    font-style: italic;
}
.privacy-policy:hover a{
    text-decoration:underline;
}
.privacy-policy a:hover{
    text-decoration:underline;
}
/*Privacy and T&C Modal designs*/
.tcp-title{
    color: #008ed6;
}
.tcp p{
    font-size: 14px;
}
.tcp i{
    color: #05E8AB;
}
.tcp h4{
    width: 65%;
    color: #05E8AB;
    font-weight: 500;
    font-size: 17px;
    border-bottom: 1px solid #336557;
}
.tcp p a{
    color: #FFC107;
}
.contact-info{
    text-align:left;
}
.contact-info p{
}
.contact-info p>i{
}
.maskot-con h4{
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
}
.maskot-con h4>b{
    display: block;
    color: #0097AD;
    font-weight: 500;
    font-size: 25px;
}
/*Offers Design*/
.offer-card{
    background: #FBFBFB;
    min-height: 135px;
    box-shadow: 0px 0px 5px #BDBCBC;
    margin: 15px 0;
    padding: 5px;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.ofr-dir{
    margin: 5px 0 0 90px;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.offer-card:hover .ofr-dir{
    opacity: 1;
}
.offer-card img{
    border-radius: 3px;
}
.discount-box{
    border: 2px dashed #FF9800;
    padding: 5px;
}
.discount-big-box{
    background: radial-gradient(#22DFF7, #00BCD4);
    color: #fff;
    padding: 58px 0;
    min-height: 80px;
    font-size: 2em;
    text-align: center;
    border: 2px dashed #FFF;
}
.discount-big-box h2{
    font-size: 2.5em;
    margin-bottom: 10px;
}
.discount-big-box p{
    font-size: .8em;
    padding-bottom: 10px;
    border-bottom: 1px solid #0EA2B5;
    display: inline-block;
    width: 330px;
}
.discount-big-box h5{
    font-size: .8em;
    font-weight: 500;
}
.discount-big-box h5>b{
    font-size: .8em;
    font-weight: 500;
    color: #FFF;
}
.discount-big-box h6{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #5B5B5B;
}
.amount{
    display: block;
    text-align: center;
    color: #FF9800;
    font-size: 1.6em;
}
.amount-title{
    display: block;
    text-align: center;
    color: #FF9800;
    font-size: .8em;
    text-transform: uppercase;
}
.offer-valid{
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #008ed6;
}
.offer-title{
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    color: #A5A5A5;
    margin-top: .2rem;
}
.offer-desc{
    display: block;
    font-size: 13px;
    color: #A09F9D;
    line-height: 18px;
}
.offers{
    background: #F7F7F7;
    padding: 3% 0;
    text-align: left;
}
.offers .app-brief{
    background: #F7F7F7;
    margin: 0;
}
.offers h3{
    width: 25%;
    padding-bottom: 3px;
    text-align: left;
    border-bottom: 1.5px solid #1496D7;
}
#carousel2 img{
    height: 314px;
    width: 100%;
}
#carousel2 .carousel-indicators{
    /*display: none;*/
}
/*Testimonial Design*/
.tstmnl-card{
    background: #FBFBFB;
    min-height: 100px;
    box-shadow: 0px 0px 5px #BDBCBC;
    margin: 15px 0;
    padding: 5px;
    cursor: pointer;
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
}
.tstmnl-card:hover{
    box-shadow: 0px 0px 10px #BDBCBC;
    background: #fff;
}
.tstmnl-card:hover .user-dp{
    border: 5px solid #00C3E0;
}
.user-dp{
    border-radius: 50%;
    border: 5px solid #E4E4E4;
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
}
.tstmnl-desc{
    display: block;
    font-size: 13px;
    color: #A09F9D;
    line-height: 18px;
    margin-top: 15px;
}
.user-nm{
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #555;
}
.user-nm i{
    color: #00C3E0;
}
/*Price Design*/
.price-box{
    background: #FFFFFF;
    margin: 10px 0;
    /*box-shadow: 0px 2px 5px #B7B7B7;*/
}
.cloth-cat{
    margin: 0;
    margin-bottom: 0 !important;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px;
    background: #008ed6;
    color: #FFFFFF;
    font-weight: 700;
}
.price-subcat-box{
    font-size: .8em;
    overflow: auto;
    padding-bottom: 5px;
}
.cloth-subcat{
    margin: 0;
    line-height: 1;
    background: #F7F7F7;
    padding: 10px;
    font-size: 1.2em;
    color: #777777;
    font-weight: 400;
    border-left: 5px solid #30A6DC;
}
.price-table{
    margin-bottom: 0;
    /*border-bottom: 1px solid #F3F3F3;*/
}
.price-table>thead>tr>th:first-child {
	text-align:left;
}
.price-table>thead>tr>th{
    border-bottom: 2px solid #ddd;
    color: #6b6b6b;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 8px;
    text-align: center;
}
.price-table>tbody>tr>td{
	border: 0;
    text-align: center;
    line-height: normal;
    padding: 18px 8px;
    font-weight: 500;
    font-size: 16px;
    color: #0075b1;
}
.cloth{
	color: #737373 !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    text-align: left !important;
    font-size: 15px !important;
}
.vw-al{
    display: none;
}
.packages .section-header{

}
.packages .main-menu-con{
    position: fixed;
    left: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    width: 22%;
    background: #fff;
}
.packages .main-menu-con .main-menu{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 125px 35px 0 30px;
}
.packages .main-menu ul{
    
}
.packages .main-menu ul li{
    margin: 0 0 5px 0;
    line-height: 30px;
    text-align: left;
}
.packages .main-menu ul li a{
    color: #7F7F7F;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #E6E6E6;
}
.packages .main-menu ul li a:hover, .packages .main-menu ul li a:focus{
    text-decoration: none;
}
.packages .main-menu ul li a i{
    font-size: 20px;
    color: #008ed6;
    font-weight: 600;
    padding-right: 10px;
}
.packages .main-menu ul li a .animate-menu-icon{
    float: right;
    opacity: 0;
    font-size: 20px;
    margin-top: 3px;
    font-weight: 600;
    margin-right: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.packages .main-menu ul li a:hover .animate-menu-icon{
    opacity: 1;
    margin-right: 10px;
}
.packages .main-menu .active a{
    border-bottom: 1px solid #39B1EF;
    color: #008ed6;
}
.packages .main-menu .active a .animate-menu-icon{
    opacity: 1;
    margin-right: 10px;
}
.packages .pricing-content-con{
    position: relative;
    left: 22%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 78%;
}
.packages .pricing-content-con .pricing-contents{
    width: 100%;
    max-height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 15px 0 10px;
}
.pricing-contents .accordion-con .panel-heading{
    padding:0;
    text-align:left;
}
.pricing-contents .accordion-con .panel-default {
    border: 0;
}
.pricing-contents .accordion-con .panel-default>.panel-heading {
    background-color: #008ed6;
}
.pricing-contents .accordion-con .panel-default>.panel-heading:hover {
        opacity: .80;
}
.pricing-contents .accordion-con .panel {
    margin-bottom: 15px;
    background-color: #fff;
}
.pricing-contents .accordion-con .panel-heading a{
    display: block;
    padding: 8px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none !important;
}
.pricing-contents .accordion-con .panel-body{
    background: #F3F3F3;
    }
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}

.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
    background-color: #fff !important;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FF9800;
    background-color:transparent;
    cursor: default;
}
.pricing-contents .accordion-con{
    margin-bottom: 100px;
}

.pricing-contents .accordion-con .panel-body table th{
    border-bottom: 1px solid #D4D4D4;
    text-align: center;
    color: #008ED6;
    font-weight: 400;
}
.pricing-contents .accordion-con .panel-body table td{
    border-bottom: 1px solid #DCDCDC;
    text-align: center;
    font-size: 13px;
    color: #696969;
}
.pricing-contents .accordion-con .panel-body table tr:hover td{
    color: #008ED6;
}
.pricing-contents .accordion-con .panel-body .tab-content{
    background: #fff;
    padding: 15px 30px;
    border-top: 2px solid #F3F3F3;
}
.pricing-contents .accordion-con .panel-body .col-xs-3{
    padding: 0;
}
.pricing-contents .accordion-con .panel-body .col-xs-9{
    padding: 0;
}
.pricing-contents .accordion-con .panel-body .col-sm-3{
    padding: 0;
}
.pricing-contents .accordion-con .panel-body .col-sm-9{
    padding: 0;
}
.pricing-contents .accordion-con .no-cloth{
    color: #FF9800;
    font-weight: 500;
    font-size: 16.5px;
    margin-top: 10%;
    padding-right: 10%;
}
.pricing-contents .accordion-con .no-cloth>b{
    color: #FF9800;
    font-weight: 500;
    font-size: 30px;
    padding-left: 7px;
}
.pricing-contents .accordion-con .no-price{
    margin: 0;
    line-height: 45px;
    font-weight: 400;
    font-size: 14px;
    color: #E40F58;
    text-transform: uppercase;
}

/*************************************************
            HOME SERVICES
*************************************************/
.our-services{
    padding-top: 80px;
    padding-bottom: 80px;
}
.our-services .single-services{
    margin-bottom: 40px;
}
.our-services .single-services h3{
    color: #008ed6;
    margin: 2px 0;
    font-size: 21px;
    font-weight: 400;
}
.our-services .single-services .service-img{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.our-services .single-services .service-img:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    }
.our-services .single-services .service-img{
    border: 2px solid #C6D7F9;
    padding: 3px;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.our-services .single-services .service-img:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.our-services .single-services:hover .service-img{
    -webkit-transform: scale(0.86);
    -moz-transform: scale(0.86);
    -ms-transform: scale(0.86);
    transform: scale(0.86);
    padding: 0;
    border: 6px solid #9CBCFB;
}
.our-services .single-services:hover .service-img:hover{
    border:1px solid #9CBCFB;
    padding: 5px;
}
.our-services .single-services .service-img:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}



@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #9CBCFB, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #9CBCFB, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
/***********************Services End*********************/
.footer-logo{
    display: inline-block !important;
}
.ol-style ol{
    padding-left: 25px !important;
    
}
.ol-style ol li{
    list-style: inherit;
}