<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Printname'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="printnames index large-9 medium-8 columns content">
    <h3><?= __('Printnames') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('created_date') ?></th>
                <th><?= $this->Paginator->sort('status') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($printnames as $printname): ?>
            <tr>
                <td><?= $this->Number->format($printname->id) ?></td>
                <td><?= h($printname->created_date) ?></td>
                <td><?= h($printname->status) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $printname->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $printname->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $printname->id], ['confirm' => __('Are you sure you want to delete # {0}?', $printname->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
