<?php
  //Superdhobi
?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Login :: SUPERDHOBI</title>

  <!-- Favicons-->
  <link rel="icon" href="<?php echo $this->request->webroot; ?>images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="<?php echo $this->request->webroot; ?>images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="<?php echo $this->request->webroot; ?>images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->

  <!-- CORE CSS-->  
  <link href="<?php echo $this->request->webroot; ?>css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="<?php echo $this->request->webroot; ?>style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="<?php echo $this->request->webroot; ?>css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
  
</head>

<body data-vide-bg="<?php echo $this->request->webroot; ?>video/water">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->
  <?= $this->fetch('content');?>
  <!-- jQuery Library -->
  <script type="text/javascript" src="<?php echo $this->request->webroot; ?>js/admin/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="<?php echo $this->request->webroot; ?>js/admin/custom-script.js"></script>

  <!--materialize js-->
  <script type="text/javascript" src="<?php echo $this->request->webroot; ?>js/admin/materialize.js"></script>

      <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="<?php echo $this->request->webroot; ?>js/admin/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->

</body>

</html>