/*Custom scrollbar*/
::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(123, 123, 123, 0.5);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
/*-------*/
.block{
	width: 100%;
    display:block;
}
.badge{
    border-radius: 3px;
}
.desc, th a{
	color: #fff;
}
.btn-small{
	height: 25px;
    width: 25px;
    line-height: 25px;
}
.btn-tiny{
    height: 25px;
    font-size: 13px;
    line-height: 25px;
}
.btn-small i{
	font-size: .9rem;
	line-height: 25px;
}
.err{
    color: #F44336 !important;
    border-bottom: 2px solid #F44336 !important;
}
.deb{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.text-dott{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-capitalize{
    text-transform: capitalize;
}
/*Tree View*/
/*.custom-tree {
    padding: 0em;
}

.custom-tree li, .custom-tree li ul li {
    position:relative;
    top:0;
    bottom:0;
    padding-bottom: 7px;

}

.custom-tree li ul {
    margin-left: 4em;
}

.custom-tree li {
    list-style-type: none;
    cursor: pointer;
}
.toogle{
    position: relative;
    top: 1.3em;
    left: 5px;
}
.ct-link {
    padding:0 0 0 10px;
    position: relative;
    top:1.3em;
}

.ct-link:hover {
    text-decoration: none;
}

.ct-link.addBorderBefore:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 28px;
    position: absolute;
    left: -47px;
    top:-16px;
    border-left: 1px solid gray;
}

.custom-tree li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 0;
    position: relative;
    left: 0em;
    top:1em;
    border-top: 1px solid gray;
}

.custom-tree li ul li:last-child:after, .custom-tree li:last-child:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    background: #fff;
    top: 9px;
    left: -1px;
}
.ct-edit{
	display: none;
    position: absolute;
    top: 12px;
}
.ct-edit .btn-small{
	margin: 0 5px;
    }*/
/*.custom-tree li:hover .ct-edit{
	display: inline-block;
    }
    */
    /* Easy Tree style */
    .easy-tree {
        min-height: 20px;
        margin-bottom: 20px;
        background-color: #6F6F6F;
        color: #fff;
        border: none;
        border-top: none;
        padding-bottom: 15px;
        width: 100%;   
    }
    .easy-tree .alert {
        padding: 5px;
        margin-bottom: 0;
        margin-top: 5px;
        border: none;
        border-radius: 0;
    }
    .easy-tree .alert-dismissable .close {
        position: relative;
        top: -2px;
        right: 0px;
        color: inherit;
    }
    .easy-tree > ul {
        padding-left: 15px;
    }

    .easy-tree li {
        list-style-type: none;
        margin: 0;
        margin-left: 29px;
        padding: 10px 5px 0 5px;
        position: relative
    }

    .easy-tree li::before, .easy-tree li::after {
        content: '';
        left: -30px;
        position: absolute;
        right: auto
    }

    .easy-tree li::before {
        border-left: 1px solid #fff;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px
    }

    .easy-tree li::after {
        border-top: 1px solid #fff;
        height: 20px;
        top: 25px;
        width: 35px
    }

    .easy-tree li > span {
        border: 1px solid #fff;
        border-radius: 3px;
        display: inline-block;
        padding: 5px;
        text-decoration: none
    }

    .easy-tree li.parent_li > span {
        cursor: pointer
    }


    .easy-tree > ul > li::before, .easy-tree > ul > li::after {
        border: 0
    }

    .easy-tree li:last-child::before {
        height: 30px
    }

    .easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li span {
        background: #00ACC1;
        color: #fff;
    }

    .easy-tree li.parent_li > span:hover + ul li.li_selected span {
        background: #e5e2e1;
        color: #e56155;
    }

    .easy-tree li > span > a {
        color: #fff;
        text-decoration: none;
    }

    .easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
        margin-right: 5px;
    }

    .easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a {
        background: #e5e2e1;
        color: #00ACC1;
    }

    .easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a {
        background: #fafafa;
        color: #00ACC1;
    }

    .easy-tree .easy-tree-toolbar {
        background-color: #5A5A5A;
    }

    .easy-tree .easy-tree-toolbar > div {
        display: inline-block;
    }

    .easy-tree .easy-tree-toolbar > div > button {
        margin: 20px 5px;
    }

    .easy-tree .easy-tree-toolbar .create .input-group {
        top:0px;
        width: 425px;
        display: inline-block;
    }
    .easy-tree .easy-tree-toolbar .create .input-group-btn{
        display: inline;
    }
    .easy-tree .easy-tree-toolbar .create .input-group input {
        width: 235px;
        color: #fff;
        font-size: 14px;
    }

    .easy-tree .easy-tree-toolbar .create .input-group button {
        border-radius: 2px;
        margin: 10px 4px;
    }
    /*Tree css end*/
    .filter .input-field{
        margin-top: 0.5rem;
    }
    .border-l{
        border-left: 1px solid #C7C7C7;
    }
    .adrs-actions{
        position: absolute;
        width: 100%;
        height: 65%;
        right: 0;
        top: 0;
        text-align: right;
        cursor: pointer;
    }
    .del-adrs, .edt-adrs{
        color: #fff;
        opacity:0;
        margin: 0 3px;
        transition:all .5s;
        -webkit-transition:all .5s;
        -moz-transition:all .5s;
        -o-transition:all .5s;
    }
    .adrs-actions:hover .del-adrs,.adrs-actions:hover .edt-adrs{
        opacity:1;
    } 
    .address-scroll{
        width: 100%;
        height: 435px;
        overflow: auto;
        float: left;
    }
    /*Custom filter ui*/
    .filter-select{
        font-size: .8rem !important;
        height: 2.5rem !important;
    }
    .date-fil-con{
        float: left;
        width: 43%;
        padding: 5px;
        margin: 0 5px;
    }
    .filter-date{
        font-size: .8rem !important;
        height: 2.5rem !important;
        display: inline-block;
        padding: 0px 5px !important;
        margin-bottom: 0px !important;
    }
    .filter-label{

    }
    .loc-fil{
        display: inline-block !important;
        width: 22%;
    }
    /*Order Status ui*/
    .or-stat{
        min-width: 135px;
    }
    .or-ic{
        display: inline-block;
        background: #FFB300;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        padding: 4px 6px;
    }
    .or-join{
        display: inline-block;
        background: #FFB300;
        width: 15px;
        height: 5px;
        margin: 3px -5px;
    }
    .or-dn{
        background: #009688 !important;
    }
    /*Time Line ui*/
    .tline-main{
        float: left;
        min-height: 50px;
        width: 98%;
        border-left: 4px solid #FF9800;
        margin-left: 10px;
    }
    .tline-contain{
        float: left;
        width: 100%;
        min-width: 100px;
        margin-bottom: 10px;
    }
    .tline-icon{
        display: inline-block;
        width: 25px;
        height: 25px;
        background: #FF9800;
        border-radius: 50%;
        color: #fff;
        padding: 2px 5px;
        margin: 5px -14px;
    }
    .tline-content{
        width: 235px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 0 6px #B2B2B2;
        display: inline-block;
        padding: 5px 5px 8px 18px;
        position: relative;
        vertical-align: top;
        color: #FFA92A;
    }

    .tline-content::before {
        background-color: #fff;
        content: "\00a0";
        display: block;
        height: 16px;
        position: absolute;
        top: 11px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
        width:  20px;
    }

    .west {
        display: inline-block;
        margin: 0px 0px 0px 35px;  
    }

    .west::before {
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
        left: -9px;           
    }
    /*Price Module*/
    .price-elements{
        display: inline-block;
        overflow: auto;
        margin: 0;
        width: 95px;
    }
    .price-pic{
        display: inline-block;
        overflow: auto;
        margin:0;
        width: 50px;
    }
    .price-pic img{
        vertical-align: -20px;
    }
    .price-desc{
        display: inline-block;
        overflow: auto;
        margin: 0 10px 0 0;
        width: 345px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price-rate{
        display: inline-block;
        overflow: auto;
        margin: 0 10px 0 0;
        width: 225px;
    }
    .price-rate input[type=text]{
        width: 185px;
        display: inline-block;
    }
    .price-desc input[type=text], .price-rate input[type=text]{
        margin-bottom: 0;
    }
    .price-act{
        margin: 10px 5px;
    }
    #price{
        margin: 0 5px;
        /*padding: 2px 10px;*/
        font-weight: bold;
    }
    .proceed{
       background-color:#fff;
   }
   .proceed .coupon-preview{
       width:100%;
   }
   .proceed .coupon-preview .coupon-preview-div1{
       width:22%;
       display:inline-block;
       float: left;
   }
   .proceed .coupon-preview .coupon-preview-div2{
       width:58%;
       display:inline-block;
       float: left;
       padding: 0 15px;
   }
   .proceed .coupon-preview .coupon-preview-div3{
       width:20%;
       display:inline-block;
       float: left;
   }
   .proceed .coupon-preview .coupon-preview-div1 .coupon-code{
    display: block;
    width: 100%;
    overflow: auto;
    background: #00ACC1;
    height: 100px;
    padding: 0 5px 0 5px;
}
.proceed .coupon-preview .coupon-preview-div1 .coupon-code h5{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
.proceed .coupon-preview .coupon-preview-div1 p{
    font-size: 12px;
    color: #767474;
}
.proceed .coupon-preview .coupon-preview-div1 p>b{
    color: #00B0C6;
    font-weight: 500;
}
.proceed .coupon-preview .coupon-preview-div1 .days>b{
    height: 40px;
    display: inline-block;
    float: left;
    padding-right: 3px;
}
.proceed .coupon-preview .coupon-preview-div1 .proceed-cbox-list>i{
    font-weight: 600;
    color: #FF7C7C;
}
.proceed .coupon-preview .coupon-preview-div2 h4{
    font-size: 18px;
    line-height: 22px;	
}
.proceed .coupon-preview .coupon-preview-div2 h5{
    font-size: 12px;
    color: #7E7D7D;
    line-height: 20px;
    display: inline-block;
    margin: 4px 0 10px 0;
}
.proceed .coupon-preview .coupon-preview-div2 .middle-con{
	width:100%;
	float:left;
}
.proceed .coupon-preview .coupon-preview-div2 .middle-con>span{
	width:49%;
	display:inline-block;
    float: left;
}
.proceed .coupon-preview .coupon-preview-div2 .middle-con .user-con>img{
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1.5px solid #00ACC1;
}
.proceed .coupon-preview .coupon-preview-div2 .middle-con .user-con>label{
    display: inline-block;
    position: absolute;
    margin-top: 28px;
    padding-left: 4px;
    font-size: 14px;
}
.proceed .coupon-preview .coupon-preview-div2 .middle-con .nos-con>label{
    margin-top: 25px;
    display: block;
    font-size: 14px;
}
.proceed .coupon-preview .coupon-preview-div2 .middle-con .nos-con>label>i{
    font-size: 15px;
    color: #00ACC1;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns{
    width: 100%;
    float: left;
    border-radius: 1px;
    color: #0F6A75;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    margin-top: 30px;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns>span{
	width:50%;
	display:inline-block;
    float: left;
    background: #DEDEDE;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns>span:hover{
    background: #D2D2D2;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns>span>p{
	text-align:center;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns>span>.img-con{
	display:none;
    position: absolute;
    width: 25%;
    margin-top: -179px;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns>span:hover>.img-con{
	display:block;
}
.proceed .coupon-preview .coupon-preview-div2 .bottom-btns>span>.img-con>img{
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.proceed .coupon-preview .coupon-preview-div3 .coupon-blnc{
    display: block;
    border-bottom: 1px dotted #DBDCDC;
    margin: 0 auto;
    text-align: center;
}
.proceed .coupon-preview .coupon-preview-div3 .coupon-blnc>h5{
    font-size: 14px;
    margin: 15px 0 1px 5px;
}
.proceed .coupon-preview .coupon-preview-div3 .coupon-blnc>p{
    margin: 0 0 0 0;
    text-align: center;
    color: #00ACC1;
    font-weight: 600;
    font-size: 33px;
}
.proceed .coupon-preview .coupon-preview-div3 .coupon-blnc>p>i{
    font-size: 35px;
}
.proceed .coupon-preview .coupon-preview-div3 .wash-type{
}
.proceed .coupon-preview .coupon-preview-div3 .wash-type>h6{
    text-transform: uppercase;
    font-weight: 500;
    color: #878787;
    font-size: 14px;
}
.proceed .coupon-preview .coupon-preview-div3 .wash-type>h6>i{
    font-weight: 300;
    color: #F46969;
    font-size: 15px;
}
.proceed .coupon-preview .coupon-preview-div3 .wash-type>p{
    font-size: 12px;
    color: #767474;
    padding-left: 5px;
    margin: 2px 0 3px 0;
}
.proceed .coupon-preview .coupon-preview-div3 .wash-type>p>i{
    font-weight: 600;
    color: #FF7C7C;
    font-size: 12px;
}
.proceed .proceed-modal-footer span{
    display: inline-block;
    float: left;
    padding: 11px 0 0 10px;
}
.proceed .proceed-modal-footer span>label{
    padding-left: 25px;
    color: #4B4B4B;
    font-size: 13px;
}
/**Coupon List Card View Design**/
.coupon-list {
	margin-bottom:75px;
}
.coupon-list .card{
    background-color: #108BCE !important;
}
.coupon-list .coupon-list-hvr1{
	display:none;
    width: 100%;
    height: 100%;
    float: left;
    background:rgba(0, 0, 0, 0.51);
    z-index: 1;
    position: absolute;
}
.expired-coupon .expired-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-image: url(../../img/expired.png);
    background-size: 110px;
    background-position: 1px 24px;
    background-repeat: no-repeat;
    z-index: 1;
}
.expired-coupon .card-content .card-title{
	text-decoration:line-through;
}
.expired-coupon .min-blnc-con .min-blnc>label {
    color: #D2B95D;
}
.coupon-list .coupon-list-hvr2{
    display: none;
    width: 115px;
    height: 58px;
    float: left;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    background: rgba(0, 0, 0, 0.51);
    position: absolute;
}
.coupon-list:hover .min-blnc-con .min-blnc>label>i {
    transform: initial;
}
.coupon-list:hover .coupon-list-hvr1{
	display:block;
}
.coupon-list:hover .coupon-list-hvr2{
	display:block;
}
.coupon-list:hover .coupon-list-hvr1 .cl-hvr-links{
    position: absolute;
    top: 42%;
    text-align: center;
    width: 100%;
}
.coupon-list:hover .coupon-list-hvr1 .cl-hvr-links>a{
    margin-right: 2px;
    box-shadow: 0px 2px 7px #1B1B1B;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.coupon-list:hover .coupon-list-hvr1 .cl-hvr-links>a>i{
	line-height: 30px;
    font-size: 17px;
}

.coupon-list .min-blnc-con{
    width: 116px;
    margin: 0 auto;
    height: 58px;
}
.coupon-list .min-blnc-con .min-blnc{
    width: 116px;
    height: 116px;
    border-radius: 50%;
    position: absolute;
    top: -58px;
    box-shadow: 0px 1px 8px #676767;
    background-color: #0EA0B2 !important;
    text-align: center;
}
.coupon-list .min-blnc-con .min-blnc>label{
    color: #FFDD61;
    font-size: 24px;
    margin-top: 26px;
    display: block;
    font-weight: 500;
    padding-right: 7px;
}
.coupon-list .min-blnc-con .min-blnc>label>i{
   font-size: 27px;
}
.coupon-list .min-blnc-con .min-blnc>p{
    color: #fff;
    font-size: 10px;
    margin: 0;
    margin-top: -4px;
}
.coupon-list .card-content{
	padding-top:0;
    text-align: center;
    min-height: 89px;
}
.coupon-list .card-content .card-title{
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
}
.coupon-list .card-content p{
	font-size: 14px;
    color: #EBEBEB;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.coupon-list .card-action {
    padding: 5px 8px;
    background-color: #016571 !important;
    text-align:center;
}
.coupon-list .card-action p{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    /*width: 48%;*/
    text-align: center;
    margin: 0;	
}
.coupon-list .card-action p>b{
    font-weight: 400;
    font-size: 14px;
    padding-right: 3px;
    line-height: normal;
}
.coupon-list .card-action .middle-icon{
    line-height: normal;
    width: 50px;
    font-size: 17px;
}
/**End of Coupon List Card View Design**/

/* start for error during form validation*/
.input-field div.error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color:#FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.input-field label.active{
  width:100%;
}
.left-alert input[type=text] + label:after, 
.left-alert input[type=password] + label:after, 
.left-alert input[type=email] + label:after, 
.left-alert input[type=url] + label:after, 
.left-alert input[type=time] + label:after,
.left-alert input[type=date] + label:after, 
.left-alert input[type=datetime-local] + label:after, 
.left-alert input[type=tel] + label:after, 
.left-alert input[type=number] + label:after, 
.left-alert input[type=search] + label:after, 
.left-alert textarea.materialize-textarea + label:after{
  left:0px;
}
.right-alert input[type=text] + label:after, 
.right-alert input[type=password] + label:after, 
.right-alert input[type=email] + label:after, 
.right-alert input[type=url] + label:after, 
.right-alert input[type=time] + label:after,
.right-alert input[type=date] + label:after, 
.right-alert input[type=datetime-local] + label:after, 
.right-alert input[type=tel] + label:after, 
.right-alert input[type=number] + label:after, 
.right-alert input[type=search] + label:after, 
.right-alert textarea.materialize-textarea + label:after{
  right:70px;
  text-align: right;
}
/* end for error during form validation*/
.coupon-tbl-list .card-content{
	padding-top:10px;
}
.coupon-tbl-list table{
    margin: 5px 0 10px 0;
}
.coupon-tbl-list .lever{
  margin-left:0 !important;
}
.coupon-tbl-list table tbody tr:hover{
	opacity:.80;
}
/*task Management Designs*/
.e-list{
    max-height: 600px;
    overflow: auto;
}
.choosen{
    background: #EAEAEA !important;
    cursor: no-drop !important;
}
.blog .chip{
    margin: 5px;
    display: block;
}
.blog [type="radio"]:not(:checked) + label, .blog [type="radio"]:checked + label{
    padding-left: 20px;
    height: 16px;
}
/*Print page*/
.print-det{
    display: block;
    min-width: 100px;
    text-align: center;    
}
.print-det span{
    display: block;
    width: 100%;
    padding: 5px 0;
}
.print-det span:nth-child(1){
    border-bottom: 1px solid #D0D0D0;
}
/*invoice*/
.invoice-container .logo{
    max-width: 100%;
    width: 220px;
    margin: 15px 0 0 0;
}
.invoice-container .invoce-company-address p{
    margin: 5px 0 5px 0;
}
.invoice-container .section2 .m6 p{
    margin: 5px 0 5px 0;
}
.invoice-container .section2 .invoce-company-contact p>b{
    color: #0191A2;
}
.invoice-container .invoice-lable {
    margin-top: 5px;
}
.invoice-container .invoice-lable .invoice-text {
    padding: 15px 0;
}
.invoice-container .invoice-lable .invoice-brief p{
    margin-bottom: 2px;
    color: #EDF9FB;
}
.invoice-container .invoice-lable .invoice-brief h4{
	margin: 10px 0 14px 0;
}
.invoice-container .invoice-table{
	/*padding-top: 15px;*/
}
.invoice-container .invoice-table td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 0px;
}
.invoice-container .invoice-table td {
    font-size: 13px;
}
.invoice-container .invoice-table td p>b{
    color: #0191A2;
}
.invoice-container .invoice-footer .ty-text{
}
.invoice-container .invoice-footer .ty-text h3{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
    color: #F79292;
}
.invoice-container .invoice-note{
    margin-top: 30px;
    font-style: italic;
    font-size: 14px;
}
/*user Management*/
.u-det{
    font-size: .85rem !important;
    color: #F44336 !important;
    height: 30px !important;
    line-height: 30px !important;
}
.side-nav .or-ic{
    padding: 2px 5px;
}
.orderForprnt tr td{
    border: 1px solid #999;
    font-size: 12px;
}
.rm-details p{
    font-size: 14px;
    margin: 7px 0 12px 0!important;
}
.rm-details p>b{
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 1px;
}
.rm-details p>b>i{
    font-size: 21px;
    color: #009688;
}
#order-row{
    cursor: pointer;
}
#order-action{
    position: absolute;
    opacity: 0;
    width: 8%;
    text-align: left;
    margin: 15px 5px 5px 3px;
    transition:all .3s;
}
#order-row:hover #order-action{
    opacity: 1;
}
/*task management*/
.cloth-bx{
    display: block;    
    margin-bottom: 3px;
    padding: 3px;
    background: #f3f3f3;
    border-bottom: 1px solid #efefef;
}
.cloth-dtl{
    float: left;
    max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: #929292;
}
.cloth-dtl span{
    text-transform: uppercase;
    color: #444;
}
.field-con{
	overflow:visible;
    margin-bottom: 25px;
}
.field-con>fieldset {
    border: 2px solid #d8d8d8;
}
.field-con>fieldset>legend {
	color: #00acc1;
    font-size: 18px;
    font-weight: 500;
    padding: 0 3px;
}
.field-con .pin-con .s12{
	margin-bottom:20px;
}
.field-con .pin-con input[type=text], .field-con .pin-con input[type=number]{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
.field-con .gender-con label{
	display: block;
    position: relative;
}
.field-con .gender-con p{
    display: inline-block;
    margin-right: 40px;
}
.payroll-tbl-con .payroll-top p{
	display:inline-block;
    padding-right: 40px;
}
.payroll-tbl-con .payroll-top p label{
	display: inline-block;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    padding-right: 5px;
    color: #9c9999;
}
.payroll-tbl-con .payroll-top p .select-wrapper{
	display:inline-block;
}
.payroll-tbl-con .payroll-top p .select-wrapper input[type=text]{
    height: auto;
    line-height: normal;
	margin-bottom:0;
}
.payroll-tbl-con .payroll-middle p label{
	display: inline-block;
    font-size: 15px;
    color: #737171;
    font-weight: 400;
    padding-right: 10px;
    width: 20%;
}
.payroll-tbl-con .payroll-middle .filled{
    margin-top: 25px;
    margin-bottom: 35px;
	}
.payroll-tbl-con .payroll-middle .filled label{
	display: block;
    font-size: 15px;
    color: #737171;
    font-weight: 400;
    padding-right: 10px;
    width: 100%;
}
.payroll-tbl-con .payroll-middle .filled label>b{
    font-size: 14px;
    color: #737171;
    font-weight: 500;
    padding-left: 3px;
}
.payroll-tbl-con .payroll-middle p input[type=text]{
    display: inline-block;
    width: 70%;
	height:auto;
}
.payroll-tbl-con .payroll-bottom p label{
	display: inline-block;
    font-size: 15px;
    color: #737171;
    font-weight: 400;
    padding-right: 10px;
    width: 20%;
}
.payroll-tbl-con .payroll-bottom p input[type=text]{
    display: inline-block;
    width: 70%;
	height:auto;
}
.payroll-tbl-con .payroll-middle .select-box .select-wrapper{
	display: inline-block;
    width: 70%;
	height:auto;
}
.payroll-tbl-con .payroll-middle .select-box .select-wrapper input[type=text]{
	width:100%;
}
.payroll-tbl-con .payroll-middle td:last-child p label{
    display: inline-block;
    width: auto;
	height:auto;
}
.payroll-tbl-con .payroll-middle td:last-child p input[type=text]{
    display: inline-block;
    width: auto;
	height:auto;
}
.payroll-list-con .card-content .filters {
    width: 20%;
    text-align: left;
    padding: 0 12px;
}
.payroll-list-con .card-content .filters:first-child {
    padding: 0 0;
}
.disabled input:disabled, .disabled input:disabled+label{
	color: #9e9e9e;
	cursor:not-allowed;
}
.disabled input:disabled{
    border-bottom: 1px solid #9e9e9e;
	}
.disabled select:disabled, .disabled select:disabled+label{
	color: #9e9e9e;
	cursor:not-allowed;
}
.disabled select:disabled{
    border-bottom: 1px solid #9e9e9e;
	}























